    <div class="container">
        <img src="../temp-images/Minecraft.png" alt="..." width="40%" height="40%" class="game">
        <div class="title">
            <p>Minecraft</p>
        </div>
        <div class="genre">
            <p>Casual, Sandbox, Survival</p>
        </div>
        <div class="desc">
            <p>Minecraft is a sandbox video game developed by the Swedish video game developer Mojang Studios.</p>
        </div>
        <div class="buttons">
            <button class="addLibrary">+ Add Game To Library</button>
            <button class="addWishlist">+ Add Game To Wishlist</button>
        </div>
    </div>