    <div class="container">
        <img src="{{../temp-images/Minecraft.png}}" alt="..." width="40%" height="40%" class="game">
        <div class="title">
            <p>{{this.name}}</p>
        </div>
        <div class="genre">
            <p>{{this.genre}}</p>
        </div>
        <div class="buttons">
            <button class="addLibrary">+ Add Game To Library</button>
            <button class="addWishlist">+ Add Game To Wishlist</button>
        </div>
    </div>