    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <div class="container px-5">
            <img src="../temp-images/Database Example.jpg" class="img-fluid border rounded-3 mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
        <h1 class="display-4 fw-bold">Centered screenshot</h1> <!--Whatever we want centered in the middle at the top!-->
        <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">SIGN UP NOW!</button>
        </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Dylan</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="card-link">Github</a>
            <a href="#" class="card-link">Email</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Olha</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="card-link">Github</a>
            <a href="#" class="card-link">Email</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Sean</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <a href="#" class="card-link">Github</a>
            <a href="#" class="card-link">Email</a>
            </div>
        </div>
    </div>
</body>