    <div class="px-4 pt-5 text-center border-bottom hero">
        <div class="container">
            <img src="/temp-images/Database Example.jpg" class="img-fluid border rounded-3 mb-4" alt="Example image" width="1000" height="800" loading="lazy">
        </div>
        <h1 class="display-4 fw-bold">Video Game Database</h1> <!--Whatever we want centered in the middle at the top!-->
        <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Have you ever wanted to create your own database of games where you can see all the games you've played, currently are playing and all the games you want to play?</p>
            
        <p class="lead mb-4">If so, this app is for you! Click the sign up button now to get started! Already have an account? Click the login button in the top right.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a type="button" class="btn btn-primary btn-lg px-4 me-sm-3" id="signup" href="/signup">SIGN UP NOW!</a>
        </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
        </div>
    </div>
    <h3 class="aboutUs">Get to know the team</h3> 
    <div class="card-group">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Dylan</h5>
            <p class="card-text">If you have any questions about this project please send me an email</p>
            <a href="mailto:dylandimayuga@yahoo.com" target="_blank">
                Email
            </a>
            <p>or reach out to me on </p>
            <a href="https://github.com/kuyadylan" target="_blank">
                <i class="fab fa-github"></i>
                GitHub
            </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Olha</h5>
            <p class="card-text">If you have any questions about this project please send me an email</p>
            <a href="mailto:olyaosiychuk@gmail.com" target="_blank">
                Email
            </a>
            <p>or reach out to me on </p>
            <a href="https://github.com/OlhaMyndziv" target="_blank">
                <i class="fab fa-github"></i>
                GitHub
            </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Sean</h5>
            <p class="card-text">If you have any questions about this project please send me an email</p>
            <a href="mailto:seancraig21@gmail.com" target="_blank">
                Email
            </a>
            <p>or reach out to me on </p>
            <a href="https://github.com/seanscraig" target="_blank">
                <i class="fab fa-github"></i>
                GitHub
            </a>
            
            </div>
        </div>
    </div>