<div id="resultsTable">
  {{#if games}}
  <h3>Search Results</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each games}}
    <div class="col">
              <div class="card h-100" id={{this.id}}>
                <img src="{{this.imageSrc}}" alt="game image unavailable" class="card-img-top img-thumbnail rounded">
                <div class="card-body">
                  <h5 class="card-title">{{this.name}}</h5>
                </div>
              </div>
            </div>
    {{/each}}
  </div>
  {{else}}
  <h3>No matches found. Please refine your search!</h3>
  {{/if}}
</div>

<script src="/javascript/search.js"></script>