    <div class="container">
        <img src="{{this.image}}" alt="..." width="70%" height="70%" class="game">
        <div class="title">
            <p>{{this.title}}</p>
        </div>
        <div class="genre">
            {{#each genres as |genre|}}
                <p>{{this.name}}</p>
                {{/each}}
        </div>
    </div>