{{#if games}}
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
   {{#each games.id}}
    <div class="card h-100" id={{this.id}}>
        <img src="{{this.imageSrc}}" alt="game image unavailable" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
        </div>
    </div>
   {{/each}}
  </div>
</div>
{{!-- {{else}} --}}
  {{!-- <h3>No game recommendations generated yet</h3> --}}

