.aboutUs {
    text-align: center;
    margin: 30px;
}

.hero {
    margin-bottom: 10px;
    margin-top: 10px;
}

.login-form {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: linear-gradient(80deg, white 0%, black 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 10vh;
  background-color: #ced4da ;
}
body {
    background-color: #ced4da ;
}
/* .card {
    background-image: linear-gradient(180deg, #ced4da 0%, black 200%);
    
} */
.btn-outline-success {
    color: #1DABF0;
    border-color: #1DABF0;
}

a.link.loginButton {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.second-nav {
    font-size: 2rem;
}

.password-input-login {
    position: relative;
    left: 2px;
}

.login-button {
    margin-top: 5px;
}

.password-signup-input {
    position: relative;
    left: 5px;
}

.email-signup-input {
    position: relative;
    left: 33px;
}

a#logout {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.container {
    text-align: center;
    display: block;
}

.game {
    border: 5px solid black;
    margin-top: 200px;
}

.title {
    font-weight: 900;
    text-align: center;
}

.genre {
    font-weight: 900;
    text-align: center;
}

